@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;

  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 3px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

/* Header */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.logo-link {
  position: relative;
  z-index: 1;

  width: 140px;
  margin-right: 44px;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-item {
  position: relative;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link,
.navigation-user-link {
  text-decoration: none;
}

.navigation-link {
  padding: 19px 0;

  line-height: 64px;
  color: #000000;
}

.navigation-link-current:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;

  width: 100%;

  border-bottom: 2px solid #756257;
}

.navigation-user {
  display: flex;
  align-items: center;
}

.navigation-user .button {
  width: 160px;
  margin-left: 20px;
}

.navigation-user-link {
  position: relative;

  padding: 20px 12px;

  line-height: 15px;
}

.favorites-count {
  position: absolute;
  top: 9px;
  left: 20px;

  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 2;
  text-align: center;
  color: #ffffff;

  background: #7db54f;
  border-radius: 50%;
}

/* Main-index*/
.main {
  flex-grow: 1;
}

.intro {
  position: relative;

  padding: 51px 70px 82px 70px;

  text-align: center;

  background-color: #aed2e8;
  background-image: url("../images/backgrounds/intro-background.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 57px;

  background-image: url("../images/backgrounds/intro-overlay.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.intro-welcome {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-title,
.search-hotel-title,
.subscribe-title {
  margin-top: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc,
.search-hotel-desc,
.subscribe-desc {
  margin-top: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  max-width: 1024px;
  margin: 0 auto 25px;
  padding: 0 70px;
}

.advantages-desc {
  margin-bottom: 90px;
  padding: 0 70px;
}

.advantage-block {
  display: grid;

  color: #ffffff;

  background-color: #82b3d3;

  grid-template-columns: 1fr 2fr;
}

.advantage-block .advantage-item {
  padding-top: 92px;
  padding-bottom: 111px;
}

.advantage-block .advantage-title::after {
  border-bottom: 2px solid rgb(255 255 255 / 20%);
}

.advantage-block:nth-of-type(even) {
  grid-template-columns: 2fr 1fr;
}

.advantage-list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, 1fr);
}

.advantage-list .advantage-item:nth-child(odd) {
  background-color: rgb(131 179 211 / 12%);
}

.advantage-list:first-of-type .advantage-item:nth-child(even) {
  background-color: rgb(131 179 211 / 20%);
}

.advantage-list:first-of-type .advantage-item {
  padding-top: 104px;
  padding-bottom: 121px;
}

.advantage-list:last-of-type .advantage-item {
  position: relative;

  padding-top: 183px;
  padding-bottom: 81px;
}

.advantage-list:last-of-type .advantage-item::before {
  content: "";
  position: absolute;
  right: 0;
  left: 2px;

  margin: auto;

  background-repeat: no-repeat;
}

.advantage-list:last-of-type .advantage-title {
  margin-bottom: 29px;
  padding-bottom: 0;
}

.advantage-list:last-of-type .advantage-title::after {
  display: none;
}

.advantage-item {
  padding-right: 21%;
  padding-left: 21%;
}

.advantage-item-house::before {
  top: 80px;

  width: 76px;
  height: 72px;

  background-image: url("../images/icons/house.svg");
}

.advantage-item-food::before {
  top: 81px;

  width: 75px;
  height: 70px;

  background-image: url("../images/icons/food.svg");
}

.advantage-item-souvenir::before {
  top: 78px;

  width: 65px;
  height: 76px;

  background-image: url("../images/icons/souvenir.svg");
}

.advantage-title {
  position: relative;

  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 31px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  width: 60px;
  margin: auto;

  border-bottom: 2px solid rgb(0 0 0 / 20%);
}

.advantage-desc {
  margin: 0;

  text-align: center;
}

.advantage-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.search-hotel {
  padding: 96px 70px;

  text-align: center;
}

.search-hotel-title {
  margin-bottom: 20px;
}

.search-hotel-desc {
  margin-bottom: 54px;
}

.search-hotel-link {
  max-width: 376px;
  margin: auto;

  font-size: 20px;
  line-height: 36px;
}

/* Main Catalog */
.filter {
  padding: 35px 70px 70px 70px;

  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/backgrounds/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  font-size: 16px;
}

.breadcrumbs-item:first-child {
  margin-right: 28px;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -18px;
  bottom: 0;

  width: 7px;
  height: 10px;

  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.filter-form {
  display: grid;

  grid-template-columns: 150px 1fr 150px 2fr 288px 1fr 191px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: 0;
}

.filter-infrastructure {
  grid-column-start: 1;
}

.filter-housing {
  grid-column-start: 3;
}

.filter-price {
  display: flex;

  grid-column-start: 5;
}

.filter-buttons {
  grid-column-start: 7;
}

.filter-title {
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-price-title {
  position: relative;

  height: 48px;
}

.filter-price-min {
  margin-right: 2px;
}

.filter-price-min .filter-input {
  border-radius: 4px 0 0 4px;
}

.filter-price-max .filter-input {
  border-radius: 0 4px 4px 0;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-price-text {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;

  height: 12px;
  margin: auto;

  line-height: 7px;
  color: #000000;

  opacity: 0.3;
}

.filter-input {
  max-width: 143px;
  padding: 12px 0 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background-color: #f2f2f2;
  border: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 191px;
}

.filter-buttons .button:not(:last-child) {
  margin-bottom: 32px;
}

.control-input {
  margin: 0;
  margin-right: 12px;
}

.hotels-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 70px 40px 70px;
}

.hotels-result-title {
  margin-right: auto;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-sort {
  margin-right: 70px;

  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.hotels-view {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-view-item:not(:last-child) {
  margin-right: 8px;
}

.button-sort {
  display: block;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-selected {
  border: 2px solid #000000;
}

.hotels-sort-card {
  background-image: url("../images/icons/view-card.svg");
}

.hotels-sort-slider {
  background-image: url("../images/icons/view-slider.svg");
}

.hotels-sort-list {
  background-image: url("../images/icons/view-list.svg");
}

.hotels-result {
  padding: 0 70px 52px 70px;
}

.hotels-list {
  position: relative;

  display: grid;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;

  list-style: none;

  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.hotels-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  border-bottom: 1px solid #e6e6e6;
}

.hotel-item {
  display: grid;
  padding: 20px;

  column-gap: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  row-gap: 16px;
}

.hotel-link {
  display: block;

  color: #000000;
  text-decoration: none;

  grid-column: 1 /-1;
}

.hotel-link:first-of-type {
  grid-row-start: 1;
}

.hotel-link:last-of-type {
  grid-row-start: 2;
}

.hotel-img {
  display: block;
  width: 100%;

  object-fit: cover;
}

.hotel-title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-meta {
  color: #333333;

  grid-column: 1 /-1;
  grid-row-start: 3;
}

.hotel-meta-type-housing {
  grid-column-start: 1;
}

.hotel-meta-price {
  grid-column-end: -1;
  justify-self: right;
}

.hotel-page {
  grid-column-start: 1;
  grid-row-start: 4;
}

.button-hotel-favorites {
  grid-column-end: -1;
  grid-row-start: 4;
}

.button-hotel-favorites-current {
  background-color: #7db54f;
}

.hotel-rating {
  height: 37px;

  background-image: url("../images/icons/rating.svg");
  background-repeat: repeat-x;
  background-position-y: center;

  grid-column-start: 1;
  grid-row-start: 5;
}

.rating-1 {
  width: 22px;
}

.rating-2 {
  width: 44px;
}

.rating-3 {
  width: 68px;
}

.rating-4 {
  width: 92px;
}

.rating-5 {
  width: 118px;
}

.hotel-rating-info {
  padding: 8px 3px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;

  grid-column-end: -1;
  grid-row-start: 5;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

li.pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-link-divider {
  color: #000000;

  cursor: default;
}

/* Subscribe Widget */
.subscribe {
  padding: 96px 70px 104px 70px;
}

.subscribe-background {
  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-background .subscribe-desc {
  color: #ffffff;
}

.subscribe-desc {
  max-width: 540px;
  margin: 0 auto 55px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-input-title {
  width: 100%;
  max-width: 452px;
}

.subscribe-input {
  width: 100%;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  width: 100%;
  max-width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

/* Footer */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 141px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 12px 11px;

  line-height: 14px;
  text-align: center;
}

.footer-phone-link {
  margin-left: 3px;

  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-copyright-link {
  line-height: 15px;
}
